<!DOCTYPE html>
@model LeaveApp.Models.Employee
@{
    ViewBag.Title = "About Us";
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign in &middot; Leave Mangement System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!-- <link href="css/bootstrap.css" rel="stylesheet">-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
    </style>

    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="icon/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="icon/favicon.png">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })-->
                <!-- <a class="brand" href="#"> Leave Mangement System</a>-->
                @*<a class="brand" href="#">Leave Management System</a>*@

                <div class="nav-collapse collapse">

                    <ul class="nav">
                        <li><a class="brand" @Html.ActionLink("Leave Management System", "Leave_Management_System")</a></li>
                        <li>@Html.ActionLink("About", "AboutUs")</li>
                        <li>@Html.ActionLink("Contact ", "ContactUs")</li>
                        <li>@Html.ActionLink("Logout", "")</li>





                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">



        @using (Html.BeginForm("AboutUs", "App", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

           

            <h3>This application has been developed by the Naledi team of 2017</h3>
            <p>The Naledi Group consist of 14 interns who are contracted by Paracon (Pty) Ltd at Mercedes Benz.</p>
            <h4>Our structure:</h4>
            <h5>We are divided into 4 streams </h5>
            <p>Application Development </p>
            <p>Business Inteligence </p>
            <p>Cyber Security</p>
            <p>Digital </p>

            <h4>Our vision :</h4>
            <p>Is to shine the future today</p>


        }
    </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>


</body>
</html>
