<!DOCTYPE html>
@model LeaveApp.ViewModels.changePasswordViewModel
@{
    ViewBag.Title = "Sign In";
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign in &middot; Leave Mangement System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!-- <link href="css/bootstrap.css" rel="stylesheet">-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
    </style>

    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="icon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="icon/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="icon/favicon.png">
</head>

<body>

    <div class="container">

        @{ 
            ViewBag.Title = "Change Password";
        }

        <h2>@ViewBag.Title.</h2>

        @using (Html.BeginForm("changePassword", "App", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <p align="right"> Welcome : @Session["username"] </p>
            @Html.LabelFor(a => a.old_Password, "Old Password")
            @Html.PasswordFor(a => a.old_Password)
            @Html.ValidationMessageFor(a => a.old_Password)
            <br />
                @Html.LabelFor(a => a.new_Password, "New Password")
                @Html.PasswordFor(a => a.new_Password)
                @Html.ValidationMessageFor(a => a.new_Password)
                <br />
                @Html.LabelFor(a => a.confirm_Password, "Confirm Password")
                @Html.PasswordFor(a => a.confirm_Password)
                @Html.ValidationMessageFor(a => a.confirm_Password)
                <br />
                <br />
                <button class="btn btn-large btn-primary" type="submit">Change Password</button>


        }
    </div>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>


</body>
</html>
